<li>
  <span>
    <%= blog.content %>
  </span>
  <span>
    Posted <%= time_ago_in_words(blog.created_at) %> ago.
  </span>
  <% if blog.images.any? %>
    image list
    <% blog.images.each do |img| %>
      <%= image_tag img.image.url(:thumb)%>
    <% end %>
  <% end %>
</li>